<%= simple_form_for(@employee) do |f| %>
<% if @employee.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
    <ul>
        <% @employee.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>

<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :dateofbirth, :as => :date, :label => "Date of birth", :include_blank => true, :start_year => 1935, 
                                        :end_year => Date.today.year - 16, :order => [:month, :day, :year] %>
<%= f.input :enabled %>
<%= f.input :standard_rate %>
<%= f.association :territory, :include_blank => false %>

<%= f.button :submit%>

<% end %>
