<p>
  <%= f.input       :street, :as => :text, :input_html => {:cols => 40, :rows => 5} %>
  <%= f.input       :name, :input_html => {:size => 50}%>
  <%= f.association :country %>
  <%= f.association :state %>
  <%= f.input       :city %>
  <%= f.input       :postal_code %>
</p>