<%= simple_form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :account %>
    <%= f.input :enabled, :label => "Enabled" %>
    <%= f.association :territory %>
  
<p>
Primary contact:
</p>
    <% f.simple_fields_for :contacts do |ct| %>
      <%= render 'contacts/contact_fields', :f => ct %>
    <% end %>
<p>

Main address:
</p>
  <% f.simple_fields_for :addresses do |adr| %>
    <%= render 'addresses/address_fields', :f => adr %>
  <% end %>
  
  <%= f.button :submit %>
<% end %>