<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Account:</b>
  <%= @client.account %>
</p>

<p>
  <b>Enabled:</b>
  <%= @client.enabled %>
</p>

<p>
  <b>Home territory:</b>
  <%= @client.home_territory %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
