<%= simple_form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.association :country %>
    <%= f.association :state %>
    <%= f.input :postal_code %>
  
  <%= f.button :submit %>
 
<% end %>
